/*Colores*/
$bg-color:#FFFFFF; 
$hero-color:#FAF8F5; 
$aside-color:#A9D6CB; 
$button-color:#264065; 
$text-color:#909090; 
$testimonial-color:#070D15; 
/*Tipografia*/
$ff:"Poppins", sans-serif; 
/*Espacios*/
$right-band: 500px;
$header-gap: 25px; 
$hero-left-trim: 81px; 
$footer-band: 160px; 
$layout-max: 1440px;  
$panel-bleed: 100px;   
$right-gap: 72px;     



