@use "../abstracts" as abs;

.header{
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr abs.$right-band; 
  align-items: stretch;               
  padding-top: 25px;
  z-index: 0;
  font-family: abs.$ff;
  color: abs.$button-color;
  background-color: abs.$hero-color;
}

.header::before {
  content:"";
  position:absolute;
  inset: -#{abs.$header-gap} 0 -680px -160px;
  background-color: abs.$hero-color;
  z-index:-1;
}

.header figure { 
  margin: 0; 
  padding: 0; 
}

.header figure img { 
  height: 40px; 
  width: auto; 
  display: block; 
}

.sr-only{
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px;
  overflow: hidden; 
  clip-path: inset(50%); 
  white-space: nowrap; 
  border: 0;
}

.center{ 
  justify-self: start; 
  margin-left: 170px; 
  padding: 10px 0 0 0;
}

.center ul{
  display: inline-flex; 
  gap: 60px; 
  padding: 0; 
  list-style: none;
  font-weight: 400; 
  font-size: 16px; 
  text-align: center;
}

.center ul li a{
  text-decoration: none; 
  color: abs.$button-color; 
  line-height: 1;
  display: inline-flex; 
  align-items: center;
}

.center ul li a:hover{ 
  text-decoration: underline; 
}

.center ul li a img{ 
  padding-left: 8px; 
}

.aside{
  grid-column: 3;
  justify-self: stretch;
  width: auto;
  position: relative;    
  background: none;        
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0;  
  margin-left: -90px;
  gap: 70px;
}

.aside::before{
 content: "";
  position: absolute;
  background: abs.$aside-color;
  z-index: -1; 
  text-align: center;  
  pointer-events: none;
  inset: -#{abs.$header-gap} 0 -680px -50px;
}

/* Listas internas del panel */
.aside .icons,
.aside .auth{
  display: flex; 
  align-items: center; 
  gap: 30px;
  margin: 0; 
  padding-top: 10px; 
  list-style: none;
}

/* Iconos */
.aside .icons a{ 
  display: inline-flex; 
  align-items: center; 
}

.aside .icons img{ 
  display: block; 
  height: 30px; 
  width: auto; 
}

.aside .icons img:hover{ 
  transform: scale(1.2); 
}

.aside .auth a{
  display: inline-flex; 
  align-items: center;
  line-height: 1; 
  white-space: nowrap; 
  font-size: 16px;
  text-decoration: underline; 
  color: abs.$button-color;
}

.aside .auth li:first-child a:hover{ 
  text-decoration: none; 
}

.aside .auth li:last-child a{
  padding: 8px 16px; 
  border-radius: 999px;
  background: abs.$button-color; 
  color: #fff;
  border: 1px solid abs.$button-color; 
  text-decoration: none;
}

.aside .auth li:last-child a:hover{
  background-color: abs.$aside-color;
  border: 1px solid abs.$button-color; 
  color: abs.$button-color;
}